* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.preloader {
    background: white url("../images/gif-animations-replace-loading-screen-6.gif") no-repeat center center;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
}